@using Microsoft.AspNetCore.Identity
@using galerie_projekt.Model
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager
<head>
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/button.css" asp-append-version="true" />
</head>

<ul class="nav-links">
@if (SignInManager.IsSignedIn(User))
{
    
        <li>
            <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity?.Name!</a>
        </li>
        <li>
            <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post" >
                <button type="submit" class="btn">Logout</button>
            </form>
        </li>
    
}
else
{
    <li>
        <a asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
    <li>
        <a asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}
</ul>
