@page
@model galerie_projekt.Pages.AlbumCreateModel

@{
    ViewData["Title"] = "AlbumCreate";
}
<head>
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
</head>
<div class="container-create">
    <h1>Create new album</h1>

<h4>Album name</h4>

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="Album.Name" class="form-control" />
                <span asp-validation-for="Album.Name" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Album.IsPublic" /> @Html.DisplayNameFor(model => model.Album.IsPublic)
                </label>
            </div>
            <div class="form-group">
                <button type="submit" class="btn">Create</button>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
