@page
@model galerie_projekt.Pages.ImageSelectModel

@{
    ViewData["Title"] = "ImageSelect";
}
<head>
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/ImageSelect.css" asp-append-version="true" />
</head>

<h1>Select images</h1>
<form method="post">
    <div class="gallery-image">
        @for (var i = 0; i < Model.GalleryPictures.Count; i++)
        {

            <div class="img-box">
                <img src="@Url.Page("/Index","Thumbnail", new {filename=@Model.GalleryPictures[i].FileId})" alt="" />
                <div class="transparent-box">

                    <input class="form-check-input" asp-for="GalleryPictures[i].FileId" hidden />
                    <input class="form-check-input" asp-for="GalleryPictures[i].IsChecked" />
                    <span class="checkmark"></span>

                </div>
            </div>
        }
    </div>

    <div class="container-create">
        <input type="submit" class="btn" value="Add to album" asp-route-albumid="@Model.Albumid" />
    </div>
</form>

